/*
Estilos footer 
*/

.btn-white {
  background-color: #fff;
}

.btn:hover {
  background-color: #fff;
}

.text-facebook {
  color: #0078f7;
  height: 30px;
}

.text-instagram {
  color: #da0150;
  height: 30px;
}
/*
Fin estilos footer
*/
