/*
Estilos planes
*/
.hero-planes {
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 160px 0 80px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
  
    img {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: 1;
    }
  
    .container {
    position: relative;
    z-index: 3;

    
    }
  
    h2 {
    color: $color-blanco;
    margin: 0;
    font-size: 44px;
    font-weight: 700;
    }
  
    p {
    color: $color-blanco;
    margin: 5px 250px 0 0;
    font-size: 20px;
    }
  }

.h2-planes{
    color: $color-negro;
    font-weight: 700;
}

.p-planes{
    color: $color-negro;
}
/*
Fin estilos planes
*/